.slideshow-container {
    max-width: auto;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.w3-button-indicadores {
    border-radius: 50%;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-black {
    color: #fff!important;
    background-color: #000!important
}

.w3-hover:hover {
    color: #fff!important;
    background-color: rgba(10, 106, 233, 0.609)!important
}